@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/Index.css" />
</head>

@*<section>
        <div class="jumbotron jumbotron-fluid default-primary-color">
            <div class="container">
                <h1 class="display-3">Welkom Hierzo</h1>
                <p class="lead">Wij hebben nog geen naam, we beloven dat die gouw komt :D</p>
            </div>
        </div>
    </section>*@

<section>
    <img src="http://via.placeholder.com/1140x460" class="img-fluid" alt="Responsive image">
</section>

<section>
    <div class="game-container default-primary-color">
        <div class="row">
            <div class="col-lg-3">

                <img src="http://via.placeholder.com/200x200" />
            </div>
            <div class="col">
                <div class="game-desc">
                    <h3>Dit is game 1</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum ultricies ultricies. Suspendisse non lacinia purus. Pellentesque vel tortor efficitur, faucibus leo quis, malesuada erat.
                    </p>

                </div>
            </div>
            <div class="col-lg-1">
                <div class="game-desc">
                    <button class="btn accent-color rounded-0"><i class="fa fa-play fa-4x" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="game-container default-primary-color">
        <div class="row">
            <div class="col-lg-1">
                <div class="game-desc">
                    <button class="btn accent-color rounded-0"><i class="fa fa-play fa-4x" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="col">
                <div class="game-desc">
                    <h3>Dit is game 2</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum ultricies ultricies. Suspendisse non lacinia purus. Pellentesque vel tortor efficitur, faucibus leo quis, malesuada erat.
                    </p>
                </div>
            </div>

            <div class="col-lg-3">

                <img src="http://via.placeholder.com/200x200" class="img-right" />
            </div>
        </div>
    </div>
</section>
<section>
    <div class="game-container default-primary-color">
        <div class="row">
            <div class="col-lg-3">

                <img src="http://via.placeholder.com/200x200" />
            </div>
            <div class="col">
                <div class="game-desc">
                    <h3>Dit is game 3</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum ultricies ultricies. Suspendisse non lacinia purus. Pellentesque vel tortor efficitur, faucibus leo quis, malesuada erat.
                    </p>

                </div>
            </div>
            <div class="col-lg-1">
                <div class="game-desc">
                    <button class="btn accent-color rounded-0"><i class="fa fa-play fa-4x" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>